script.sh
etc
_plotly_utils
_plotly_future_
decorator-4.4.2.dist-info
plotly
six-1.15.0.dist-info
decorator.py
netifaces.cpython-38-darwin.so
retrying.py
six.py
networkx
networkx-2.5.dist-info
plotly-4.11.0.dist-info
plotlywidget
retrying-1.3.3.dist-info
melo_netifaces
netifaces
netifaces-0.10.9.dist-info
share